.root {
    position: relative;
    left: -120px;

       @media (max-width: 1060px) {
        margin-top: 20px;
        left: 0;
       }

}

.input {
    padding: 12px 40px;
    width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-size: 16px;
    transition: all 0.15s ease-in-out;

    &:focus {
        border: 2px solid rgba(0, 0, 0, 0.3);
    }

}

.icon {
    position: absolute;
    width: 24px;
    height: 24px;
    opacity: 0.5;
    left: 10px;
    top: 11px;
}

.clearIcon {
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 0.5;
    right: 12px;
    top: 13px;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}